<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    {% include './partials/tailwind_config.html' %}
  </head>
  <body class="bg-gray-100 font-sans min-h-dvh flex flex-col">
    <header class="bg-white shadow-md flex justify-between items-center py-4 px-6">
      <h1 class="text-2xl font-bold">Job Portal</h1>
      <a
        href="#jobs"
        class="text-blue-500 hover:text-blue-700"
        >Find Jobs</a
      >
    </header>
    <main class="container mx-auto px-4 py-10">
      <section class="flex flex-col justify-between items-center mb-10 md:flex-row">
        <img
          src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Job Portal Image"
          class="w-full h-64 object-cover rounded-lg"
        />
        <div class="max-md:w-full md:w-1/2 max-md:mt-10 md:ml-10">
          <h2 class="text-2xl font-bold mb-4">Find Your Dream Job</h2>
          <p class="text-gray-700">
            Search for jobs by keyword, location, or company. Apply for jobs with just a few clicks.
          </p>
        </div>
      </section>
      <section class="mb-10">
        <h2 class="text-xl font-bold mb-4">About Us</h2>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam, ipsum eu luctus consequat, ipsum
          nulla placerat magna, at ultricies quam odio quis nibh. Integer tincidunt odio vel magna pulvinar ullamcorper.
          Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Pellentesque
          habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
          in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas aliquam, ipsum eu luctus consequat.
        </p>
      </section>
      <section
        class="mb-10"
        id="jobs"
      >
        <h3 class="text-xl font-bold mb-4">Latest Jobs</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-12">
          {% for job in JOBS %} {% include 'job_item.html' %} {% endfor %}
        </div>
      </section>
    </main>
    {% include './partials/footer.html' %}
  </body>
</html>
