<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{job.title}}</title>
    {% include './partials/tailwind_config.html' %}
  </head>
  <body class="bg-gray-100 font-sans min-h-dvh flex flex-col">
    <header class="bg-white shadow-md flex justify-between items-center py-4 px-6">
      <h1 class="text-2xl font-bold">Job Portal</h1>
      <a
        href="{{ url_for('show_home') }}"
        class="text-blue-500 hover:text-blue-700"
        >Back to Home</a
      >
    </header>
    <main class="container mx-auto px-4 py-10">
      <section class="flex flex-col">
        <h3 class="text-xl font-bold mb-4">{{job.title}}</h3>
        <p class="text-blue-500 mb-2">{{job.company}} - {{job.location}}</p>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, eaque fuga libero illum, debitis delectus nam
          voluptates praesentium esse atque autem dignissimos qui voluptatem. Corporis asperiores eos ut quisquam omnis!
        </p>
      </section>
    </main>

    {% include './partials/footer.html' %}
  </body>
</html>
