{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">{{current_user.first_name}}'s reminders</h1>
<ul
  class="list-group list-group-flush mb-4"
  id="reminders"
  style="height: 300px; overflow: scroll"
>
  {% for reminder in user.reminders %}
  <li class="list-group-item">
    {{ reminder.data }}
    <button
      type="button"
      class="close"
      onClick="deleteReminder({{ reminder.id }})"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea
    name="reminder"
    id="reminder"
    class="form-control"
  ></textarea>
  <br />
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary"
    >
      Add Reminder
    </button>
  </div>
</form>
{% endblock %}
